body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}
.top{
    padding: 0px 172px 120px 96px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    padding-top: 12px;
}
.container{
    display: flex;
    margin-top: 24px;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
}
.container p{
    margin-top: 0px;
}
.container .text{
    display: flex;
    max-width: 480px;
    margin: 0px;
    flex-wrap: wrap;
}
.top,.footer{
    background-color: #1f2937;
}
ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 0px;
}
button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    border:none ;
    padding: 8px 24px;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937 ;
    margin-bottom: 48px;
}
.info-wrapper{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-bottom: 96px;
}
.info img{
    border: 2px solid #3882F6;
    border-radius: 8px;
}
.info{
    max-width: 120px;
}
a, .container P{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}
.quote-wrapper{
    background-color: #E5E7EB;
    padding: 96px 220px;
    }
    .quote-wrapper p{
        margin: 0px;
    color:#1f2937;
    font-size: 36px;
    font-weight:200;
    font-style: italic;
}
.quote-wrapper h3{
    text-align: right;
    margin-top: 0px;
    font-weight: bold;
}
.sign-up{
    background-color:#3882F6 ;
    margin: 96px 144px;
    padding: 24px 96px;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
  /* gap: 72px; */
}
.sign-up h3{
    color: #f9faf8;
    margin-bottom:0px ;
}
.sign-up p{
    margin-top: 0px;
    color: #E5E7EB;
}
.sign-up button{
    max-height: 36px;
    color: #f9faf8;
    font-weight: bolder;
    border:2px solid #f9faf8;
}
.footer{
    text-align: center;
    padding: 24px;
    font-size: 18px;
    color: #E5E7EB;
}